* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aquamarine;
}
.otp-container {
  font-size: 2rem;
  text-align: center;
  height: 100vh;

  margin: 8rem 10rem;
}
input {
  border: 1px solid black;
  width: 3rem;
  padding: 10px 12px;
}
